header {
  height: 90px;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;

    .fa-bars {
      font-size: 30px;
      display: block;

      @media (min-width: 970px) {
        display: none;
      }
    }

    .navegation {
      list-style: none;
      display: none;
      gap: 10px;

      li {
        &.link {
          @include btn_primarios;
        }
      }

      @media (min-width: 970px) {
        display: flex;
      }
    }
  }

  .logo {
    h1 {
      font-family: "Gentium Book Basic", serif;
      font-weight: 700;
      color: $color_blanco;
      font-size: 50px;
    }
  }
  .search {
    display: none;
    align-items: center;

    input[type="text"] {
      width: 320px;
      height: 45px;
      padding: 5px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: none;
      background-color: $color_negro_fondo;
      border: $borde_ligero_gris;
      border-right: none;
      color: $color_blanco_sucio;
    }

    i {
      &.fa-magnifying-glass {
        font-size: 23px;
        background-color: $color_negro_fondo;
        padding: 10px 20px 10px 20px;
        background-color: $color_gris;
        color: $color_blanco_sucio;
        border: $borde_ligero_gris;
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (min-width: 970px) {
      display: flex;
    }
  }

  @media (min-width: 970px) {
    justify-content: space-between;
    gap: 0px;
  }
}
