header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navegation {
        list-style: none;
        display: flex;
        gap: 10px;

        li{
            &.link {
                padding: 10px 20px;
                background-color: #5F534F;
                border-radius: 30px;
                font-weight: 600;
            }
        }
    }

    .logo {
        h1 {
            font-family: 'Gentium Book Basic', serif;
            font-weight: 700;
            color: white;
            font-size: 50px;
        }    
    }
    .search {
        input[type=text] {
            width: 320px;
            height: 35px;
            padding: 5px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border: none;
            background-color: #040404;
            border: 1px solid #5F534F;
            border-right: none;
            color: #D0C7BE;
        }

        form {
            display: flex;
            align-items: center;
        }
    }

    i{
        &.fa-magnifying-glass {
            font-size: 13px;
            background-color: #040404;
            padding: 10px;
            color: #D0C7BE;
            border: 1px solid #5F534F;
            border-left: none;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
    
            :hover {
                cursor: pointer;
            }
        }
    }
    
}