<header class="container">
  <nav class="menu">
    <i class="fa-solid fa-bars"></i>
    <ul class="navegation">
      <li class="link">Main</li>
      <li class="link">Sections</li>
      <li class="link">About us</li>
    </ul>
  </nav>
  <div class="banner-header">
    <div class="logo"><h1>NotiBlog</h1></div>
  </div>
  <div class="search">
    <input type="text" placeholder="Search..." />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</header>

<app-news-section></app-news-section>

<footer>
  <div class="container foot">
    <h3>© Copyright</h3>
    <div class="social-media">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </div>
  </div>
</footer>
