$color_negro_fondo: #040404;
$color_blanco_sucio: #D0C7BE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_negro_fondo;
    color: $color_blanco_sucio;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 2100px;
    width: 90%;
    margin: 0 auto;
}