.news {
  padding-bottom: 30px;

  h1 {
    margin: 20px 0;
  }

  .news-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .card-news {
      position: relative;
      width: 320px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;

      .btn-trash {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 50%;
        transition: all 0.5 ease;

        &:hover {
            cursor: pointer;
            background-color: rgba(150, 11, 11, 0.925);
            transform: scale(1.1);
        }
      }

      .btn-pen {
        position: absolute;
        right: 60px;
        top: 20px;
        font-size: 16px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 50%;
        transition: all 0.5 ease;

        &:hover {
            cursor: pointer;
            background-color: rgba(7, 70, 21, 0.925);
            transform: scale(1.1);
        }
      }

      .btn-up {
        position: absolute;
        right: 100px;
        top: 20px;
        font-size: 18px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 50%;
        transition: all 0.5 ease;

        &:hover {
            cursor: pointer;
            background-color: rgba(7, 70, 21, 0.925);
            transform: scale(1.1);
        }
      }

      .imagen{
        width: 100%;
        height: 180px;
      }

      @media (min-width:900px) {
        width: 420px;

        .imagen{
          width: 100%;
          height: 230px;
        }
      }
    }
  }
}
