.news {
  padding-bottom: 30px;

  h1 {
    margin: 20px 0;
  }

  .news-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .card-news {
      position: relative;
      width: 320px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;

      .btn-trash {
        position: absolute;
        @include btn_redondos(20px, $color_rojo)
      }

      .btn-pen {
        position: absolute;
        @include btn_redondos(60px, $color_verde)
      }

      .btn-up {
        position: absolute;
        @include btn_redondos(100px, $color_verde)
      }

      .imagen{
        width: 100%;
        height: 180px;
      }

      @media (min-width:900px) {
        width: 420px;

        .imagen{
          width: 100%;
          height: 230px;
        }
      }
    }
  }
}
