<main class="container">
  <section class="main-section">
    <div class="relevants-news">
      <h1>Noticias más relevantes</h1>
      <div class="relevants-news-wrapper">
        <article class="card-relevants-news">
          <img src="{{ newsList[0].urlToImage }}" alt="" />
          <div class="details-relevants-news">
            <h2 class="title">{{ newsList[0].title }}</h2>
            <p class="description">
              {{ newsList[0].content }}
            </p>
            <span class="data">Publicado por: {{ newsList[0].author }}</span>
            <span class="data"
              >Fecha: {{ newsList[0].publishedAt.substring(0, 10) }}</span
            >
          </div>
        </article>
      </div>
    </div>
    <div class="news">
      <h1>Noticias destacadas</h1>
      <div class="news-wrapper">
        <article *ngFor="let elem of newsList; let i = index" class="card-news">
          <i
            data-id="{{ i }}"
            (click)="upToRelevant($event)"
            class="fa-solid fa-arrow-up-from-bracket btn-up"
          ></i>
          <i
            data-id="{{ i }}"
            (click)="selectNews($event)"
            class="fa-solid fa-pen btn-pen"
          ></i>
          <i
            data-id="{{ i }}"
            (click)="removeNews($event)"
            class="fa-solid fa-trash-can btn-trash"
          ></i>
          <img class="imagen" src="{{ elem.urlToImage }}" alt="" />
          <h2 class="title">{{ elem.title }}</h2>
          <p class="description">
            {{ elem.content }}
          </p>
          <span class="data">Publicado por: {{ elem.author }}</span>
          <span class="data"
            >Fecha: {{ elem.publishedAt.substring(0, 10) }}</span
          >
        </article>
      </div>
    </div>
  </section>
  <app-aside-section
    [List]="newsList"
    [newsToUpdate]="newsToUpdate"
    (objNews)="addNews($event)"
  ></app-aside-section>
</main>
